 <h1>bitly</h1>
 <br>
 <ul>
	  <li><a href='/'> <div class='logo'> <img src="https://camo.githubusercontent.com/a57f1f8028227c567991d966ed2176ef80ec18bc/687474703a2f2f6e73712e696f2f7374617469632f696d672f6269746c795f6c6f676f2e706e67"> </div></a></li>

	  <li><a href='/about_us'>About Us</a></li>
 </ul>


<br>

<div class="message"> <h2>We optimise the link so <div class='word_marketers'>marketers</div> can own their <div class='word_customer'>customer experience</h2></div> </div>
<br>
<br>
<button id="see_more">See More</button>
<br>
<br>
<div><h5 id="abt">Since 2008, we have been committed to optimizing the link so marketers can own the customer experience. Bitly Enterprise - branded links, mobile deep linking, omnichannel campaign tracking, audience intelligence - gives the world's leading brands a holistic, unbiased view into an increasingly complex digital landscape, and a powerful way to see, control and own their customer experience across the internet. We are headquartered in New York City, with offices in San Francisco and Denver, and is trusted by leading brands like IBM, eBay, Nike, GE, BuzzFeed and thousands more.</h5></div>
<br>
<br>
<br>
<div class="list_heading"> <h2>Here is a link to our Wikipedia page</h2> </div>
<a href="https://en.wikipedia.org/wiki/Bitly">click here</a>